PORT=4000
MONGO_URI=mongodb://localhost:27017/youtube_clone
REDIS_URL=redis://localhost:6379

# Local folders standing in for Blob Storage (S3/GCS in real life)
ORIGINAL_STORAGE_DIR=../storage/original
TRANSCODED_STORAGE_DIR=../storage/transcoded
